<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="idDocument">Tipo Documento</label>
            <input [value]="employee.DocumentType" (input)="employee.DocumentType = $event.target.value" type="number"
              id="idDocument" type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Número de Documento</label>
            <input [value]="employee.IdentityCardNumber" (input)="employee.IdentityCardNumber = $event.target.value"
              type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Primer Nombre</label>
            <input [value]="employee.FirstName" (input)="employee.FirstName = $event.target.value" type="text"
              class="form-control" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Segundo Nombre</label>
            <input [value]="employee.SecondName" (input)="employee.SecondName = $event.target.value" type="text"
              class="form-control" />
          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Primer Apellido</label>
            <input [value]="employee.FirstLastName" (input)="employee.FirstLastName = $event.target.value" type="text"
              class="form-control" />
          </div>

        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Segundo Apellido</label>
            <input [value]="employee.SecondLastName" (input)="employee.SecondLastName = $event.target.value" type="text"
              class="form-control" />
          </div>

        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Salario</label>
            <input [value]="employee.Salary" (input)="employee.Salary = $event.target.value" type="number"
              class="form-control" />
          </div>

        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Compañía</label>
            <input [value]="employee.Company" (input)="employee.Company = $event.target.value" type="text"
              class="form-control" />
          </div>

        </div>
      </div>
      <button type="button" (click)="onClickAdd()" class="btn btn-primary">Guardar Empleado</button>
      <button type="button" (click)="onClickSearch(content)" class="btn btn-primary">Buscar Empleado</button>
    </form>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modalheader">
    <h4 class="modal-title"></h4>
    <button class="close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <ngb-tabset>
      <ngb-tab title="Buscar x Id">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-md-6">
              <div class="from-group">
                <label for="">Id Empleado</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-primary">Buscar Empleado</button>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle="Buscar x Nombre">
          <p>Buscar por Nombre</p>
        </ng-template>
        <ng-template ngbTabContent>
            <div class="row">
                <div class="col-md-6">
                  <div class="from-group">
                    <label for="">Nombre Empleado</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary">Buscar Empleados</button>
                </div>
              </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle="Buscar Todos">
          <p>Buscar Todos</p>
        </ng-template>
        <ng-template ngbTabContent>
            <button type="button" class="btn btn-primary">Buscar Empleados</button>
          </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <br />
    <h3 class="text-center">Resultados</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th># CC</th>
          <th>SALARIO</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" (click)="closeModal()">Close</button>
  </div>
</ng-template>